div.pull-right {
  text-align: right;
}

div.bottom-20 {
  margin-bottom: 20px;
}

div.top-20 {
  margin-top: 20px;
}

button {
  margin-left: 8px;  
}

td.index {
  width: 5%;
  text-align: center;
}

td.name {
  width: 27%;
}

td.gender {
  width: 15%;
}

td.company {
  width: 50%;
}

tr.dirty {
  background-color: lightsteelblue;
}

tr.clean {
  background-color: transparent;
}

td.chevron {
  width: 2%;
}

a.chevron {
  width: 50px;
  cursor: pointer;
}

