div.pull-right {
  text-align: right;
}

div.bottom-20 {
  margin-bottom: 20px;
}

div.top-20 {
  margin-top: 20px;
}

button {
  margin-left: 8px;  
}

td.index {
  width: 10px;
  text-align: center;
}

td.name {
  width: 100px;
}

td.gender {
  width: 20px;
}

td.company {
  width: 200px;
}

